<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/flats" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to 'Add appartment', new_flat_path, class: 'navbar-wagon-item navbar-wagon-link'%>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= flat.image_url %>');">
            <div class="card-category">Available</div>
            <div class="card-description">
              <h2><%= flat.name %></h2>
              <p><%= flat.address %></p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          </div>
          <div>
            <i class="fas fa-users right-margin"><%= flat.number_of_guests %> </i>
            <i class="fas fa-euro-sign right-margin"><%= flat.price_per_night %></i>
          </div>
          <div class="card-links">
            <%= link_to "More info", flat_path(flat), class: 'btn btn-primary' %>
            <%= link_to "Edit", new_flat_path, class: 'btn btn-warning' %>
            <%= link_to "Remove", delete_flat(flat), class: 'btn btn-danger' %>
          </div>
      </div>
    <% end %>
  </div>
</div>



